/* font-family: 'Averia Serif Libre', cursive;
font-family: 'Crafty Girls', cursive;
font-family: 'Delius Swash Caps', cursive;
font-family: 'Delius Unicase', cursive;
font-family: 'Flavors', cursive;
font-family: 'Jacques Francois Shadow', cursive;
font-family: 'Mali', cursive;
font-family: 'Rock Salt', cursive;*/
/* font-family: 'Vollkorn SC', serif; */
/* navbars for all HTML files */
.navbar-brand {
    font-family: 'Rock Salt', cursive;
}

.nav-link {
    font-family: 'Delius Unicase', cursive;
}

.dropdown-item {
    font-family: 'Mali', cursive;
}

/* header */

header {
    color: white;
    font-family: 'Vollkorn SC', serif;
}

/* background image for all HTML files */
body { 
    background: url(./images/sven-scheuermeier-saGbrA6s8g0-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

/* container for page's content */
.RJV-container {
    width: 100%;
    height: 80%;
    position: absolute;
    z-index: 1;
    background-color: ;
    }

/* .row .container {
    border: solid 2px white;
    background-color: white;
} */

/* left content of container for index HTML file */
#mini-bio {
    border-width: 2px;
    border: solid 2px white;
    background-color: white;
}

#bio-card {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

/*right content of container for index HTML file (carousel)*/
#RJV-carousel {
   
}
/* Contact Page Styles */

#contact-form {
    background: url("./images/thomas-heintz-0tgMnMIYQ9Y-unsplash.jpg");
    padding: 30px;
    margin-top: 50px;
    width: 100%;
}

#form-header {
    font-family: 'Delius Swash Caps', cursive;
}

.container-Contact {
    width: 100%;
}

/* Portfolio Page Styles */
.container-Portfolio {
    width: 100%;
}

.portfolio-thumb {
    margin: 15px;
}

.thumbnails {
    margin-left: 20px;
}

.d-block .w-100 {
    display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

@media and screen ()


